.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background: rgb(7, 150, 124);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  color: rgb(246, 182, 0);
  background: rgb(7, 150, 124);
  
}
